body {
  margin: 0;
}

.mdContainer {
  width: 100%;
  height: 100px;
  display: flex;
}

textarea {
  line-height: 2;
}

textarea:focus {
  outline: none;
}

.edit {
  width: 50vw;
  min-width: 50vw;
  max-width: 50vw;
  background: #F8F8FA;
  border-right: 1px solid #666;
  border: none;
  height: 100vh;
  padding: 2vh 1vh;
  font-size: inherit;
  font-family: inherit;
}

.show {
  flex: 1;
  padding: 0vh 1vh;
  word-wrap:break-word;
  word-break:break-all;
}

.hljs {
  padding: 1vw;
  border-radius: 0.4vw;
}

.md-fences, code, tt {
  margin: 0 !important;
  padding: 0 !important;
}
